<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- DataProvider. Only used in ADO.NET. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient. System.Data.EntityClient is not used -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. A name in connectionstring Section. Must match with DataProvider above (if applicable)-->
    <add key="ConnectionStringName" value="ADO.NET.SqlServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="dbConnectionString" value="Data Source=webdemo.ddns.net;Initial Catalog=vidu;Integrated Security=False;User Id=sa;Password=CDT.2017;MultipleActiveResultSets=True" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ADO.NET.SqlServer" connectionString="Data Source=10.0.0.241\WEBAPPMSSQL;Initial Catalog=FA-BIGTIME-BCA;Persist Security Info=True;User ID=dev_fa_bocongan;Password=devfa@12345678" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SmoExtended" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
        <binding name="ServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap3" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="ServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://api.onesms.vn/wsPartners/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="SMS.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>